
.banner {
        background-color: pink;
        color: white;
        text-align: center;
        padding: 90px 0;
        font-size: 20px;
       }

.gender{
        background-color: pink;
        color: white;
        text-align: center;
        font-size: 20px;
        padding: 90px 0;
        margin-top: 25px;
}

.zailey-messages {
        color: white;
}
    


