.banner {
    background-color: pink;
    color: white;
    text-align: center;
    padding: 90px 0;
    font-size: 20px;
    }

.zay {
  width: 200px;
  border: 15px solid #C0C0F2;
  padding: 50px;
  margin: 20px;
  font-size: 16px;
  font-style: italic;
  }

.memy {
  width: 200px;
  border: 15px solid  #C0C0F2;
  padding: 50px;
  margin: -348px 420px;
  font-size: 16px;
  font-style: italic;
  }

.odel {
  width: 200px;
  border: 15px solid  #C0C0F2;
  padding: 50px;
  margin: -399px 820px;
 }

 .evelyn {
  width: 200px;
  border: 15px solid #C0C0F2;
  padding: 50px;
  margin:  500px 20px;
  font-size: 16px;
  font-style: italic;
  }
  

  .hec {
    width: 200px;
    border: 15px solid #C0C0F2;
    padding: 50px;
    margin: -790px 450px;
    font-size: 16px;
    font-style: italic;
    }


    .edwin  {
      width:  200px;
      border:  15px solid #C0C0F2;
      padding:  50px;
      margin:  430px 830px;
      font-size:  16px;
      font-style:  italic;
      }

  
      .elaine {
        width:  200px;
        border:  15px solid #C0C0F2;
        padding:  50px;
        margin:  -300px 20px;
        font-size:  16px;
        font-style:  italic;
      }
  
      .nana {
        width:  200px;
        border:  15px solid #C0C0F2;
        padding:  50px;
        margin:  10px 460px;
        font-size:  16px;
        font-style:  italic;
      }

      .kathy {
        width:  200px;
        border:  15px solid #C0C0F2;
        padding:  50px;
        margin:  -300px 830px;
        font-size:  16px;
        font-style:  italic;

      }

      .kenneth {
        width:  200px;
        border:  15px solid #C0C0F2;
        padding:  50px;
        margin:  -520px 20px;
        font-size:  16px;
        font-style:  italic;
      }

      



  
          
